/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 33px;
  color: #333333;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000000;
}

a:visited {
  color: #666;
}


h1 {
  margin: 17.42px 0;
}

h2 {
  margin: 16.185px 0;
}

th {
  padding-bottom: 5px;
}

td {
  /*font-size: 13px;*/
  /*line-height: 18px;*/
  padding-bottom: 7px;
  padding-right: 5px;
  padding-left: 5px;
}

label {
  display: block;
  /*font-size: 13px;*/
}

.actions {
  margin-bottom: 10px;
}

.field {
  margin-bottom: 10px;
}

p {
  margin: 33px;
}

.error-message {
  width: 450px;
  background-color: #F0F0F0;
  border: 2px solid #FD001A;
  margin-bottom: 20px;
}

.error-message h3 {
  padding: 5px 5px 5px 15px;
  background-color: #C90010;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.error-message ul {
  margin:33px;
  padding-inline-start: 40px;
}

.error-message li {
  list-style: square;
}

.success-message {
  color: #117E1F;
}